<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h5> Hi!
        <%=uname %>
    </h5><br>
    <p>This is to inform you that you have shown interest for our association. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti natus cumque ab blanditiis asperiores provident enim amet et ex quisquam velit quae quaerat, non autem aut dicta
        ut, dignissimos quidem. </p>
    <img src="https://www.adorama.com/alc/wp-content/uploads/2018/11/landscape-photography-tips-yosemite-valley-feature.jpg" alt="landscape">
    <br>
    <h3>Thank you</h3>
    <h4>Siddharth</h4>

</body>

</html>