<%- include ("../particals/header.ejs"); %>
    <br>
    <br>

    <!-- About Us start -->
    <a id=" ABOUT_US"> </a>
    <!-- head start -->
    <div id="images" class="row">
        <div class="col-md-12 col-12 " style="background-image: url('./img/original-bookings.png'); margin-bottom: -12px;">
            <p>
                <H5 class=" abouttxt " style=" text-align:center; color:#ef4036; ">
                    ABOUT US</H5>
            </p>
        </div>
    </div>
    <!-- head end -->
    <!-- image location start -->
    <div class=" row ">
        <div class=" col-md-12 col-12 mx-auto ">
            <div class=" container-aboutus "></div>
            <div class=" carousel-inner ">
                <div class=" carousel-item active ">
                    <img src=" ./img/dlf-full-view1.jpg " class=" d-block w-100 " alt=" ... ">
                    <div class=" carousel-caption ">
                        <div class=" circle "></div>
                        <div class=" circle-text ">
                            <p> Improving the <br> quality of everyday life</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- image location end -->
    <!-- Text about us start  -->
    <div class=" row ">
        <div class=" col-md-3 col-6 mx-auto ">
            <p style=" font-size: medium; text-align: justify; text-justify: inter-word; padding-bottom: 10%; ">
                With beauty being our focal point, Gana Associates is always ready to play its part to uplift the living standards and elevate the quality of everyday life. The will to do more, no matter what we have achieved up till now. These two aspects drive us to
                make luxurious properties across India available to common people who are wiling to better their and their’s families life.
            </p>
        </div>
    </div>
    <!-- text about us end -->
    <!--About Us end -->
    <%- include ("../particals/footer.ejs"); %>